<?xml version="1.0" encoding="ISO-8859-1"?>
<network-settings>
    <size x="300" y="250"/>
    <node-settings>
        <range>40</range>
        <queue-length>50</queue-length>
    </node-settings>
    <energy-model>
    	<energyModel>EnergyModel</energyModel>
        <iddle>0.0096</iddle>
        <reception>0.021</reception>
        <transmission>0.0255</transmission>
        <sleep>0.000648</sleep>
        <transitionPower>0.024</transitionPower>
		<transitionTime>0.0129</transitionTime>
		<initialEnergy>1000</initialEnergy>
    </energy-model>
    <routing-protocols>
        <!-- Routing protocols -->
        <routing-protocol type="AODV">
            <params>
                <param property="" value=""/>
            </params>
        </routing-protocol>
        <routing-protocol type="DSR">
            <params>
                <param property="" value=""/>
            </params>
        </routing-protocol>
        <routing-protocol type="DSDV">
            <params>
                <param property="" value=""/>
            </params>
        </routing-protocol>
        <routing-protocol type="GPSR">
            <params>
                <param property="hello_period_" value="5"/>
                <param property="energy_checkpoint_" value="995"/>
            </params>
        </routing-protocol>
        <routing-protocol type="GOAL">
            <params>
                <param property="hello_period_" value="0"/>
                <param property="energy_checkpoint_" value="995"/>
                <param property="range_" value="40"/>
                <param property="broadcast_hop_" value="10"/>
                <param property="storage_opt_" value="1"/>
                <param property="limit_boundhole_hop_" value="80"/>
                <param property="limit_" value="0"/>
            </params>
        </routing-protocol>
        <routing-protocol type="SCALEGOAL">
            <params>
                <param property="hello_period_" value="0"/>
                <param property="energy_checkpoint_" value="995"/>
                <param property="range_" value="40"/>
                <param property="broadcast_hop_" value="10"/>
                <param property="storage_opt_" value="1"/>
                <param property="limit_boundhole_hop_" value="80"/>
            </params>
        </routing-protocol>
        <routing-protocol type="HEXAGON">
            <params>
                <param property="hello_period_" value="0"/>
                <param property="energy_checkpoint_" value="995"/>
                <param property="range_" value="40"/>
                <param property="storage_opt_" value="1"/>
                <param property="limit_boundhole_hop_" value="80"/>
            </params>
        </routing-protocol>
        <routing-protocol type="SCALEHEXAGON">
            <params>
                <param property="hello_period_" value="0"/>
                <param property="energy_checkpoint_" value="995"/>
                <param property="range_" value="40"/>
                <param property="storage_opt_" value="1"/>
                <param property="limit_boundhole_hop_" value="80"/>
            </params>
        </routing-protocol>
        <routing-protocol type="EHDS">
            <params>
                <param property="hello_period_" value="0"/>
                <param property="energy_checkpoint_" value="995"/>
                <param property="range_" value="40"/>
                <param property="storage_opt_" value="1"/>
                <param property="limit_boundhole_hop_" value="80"/>
            </params>
        </routing-protocol>
        <routing-protocol type="ELLIPSE">
            <params>
                <param property="hello_period_" value="0"/>
                <param property="energy_checkpoint_" value="995"/>
                <param property="range_" value="40"/>
                <param property="alpha_" value="0.8"/>
                <param property="storage_opt_" value="1"/>
                <param property="limit_boundhole_hop_" value="80"/>
            </params>
        </routing-protocol>
        <routing-protocol type="GRIDOFFLINE" default="true">
            <params>
                <param property="hello_period_" value="0"/>
                <param property="energy_checkpoint_" value="995"/>
                <param property="limit_" value="0"/>
                <param property="range_" value="40"/>
                <param property="r_" value="100"/>
                <param property="limit_boundhole_hop_" value="80"/>
            </params>
        </routing-protocol>
        <routing-protocol type="GRIDONLINE">
            <params>
                <param property="hello_period_" value="0"/>
                <param property="energy_checkpoint_" value="995"/>
                <param property="limit_" value="0"/>
                <param property="range_" value="40"/>
                <param property="r_" value="100"/>
                <param property="limit_boundhole_hop_" value="80"/>
            </params>
        </routing-protocol>
        <routing-protocol type="CONVEXONLINE">
            <params>
                <param property="hello_period_" value="0"/>
                <param property="energy_checkpoint_" value="995"/>
                <param property="limit_" value="0"/>
                <param property="range_" value="40"/>
                <param property="r_" value="100"/>
                <param property="limit_boundhole_hop_" value="80"/>
            </params>
        </routing-protocol>
        <routing-protocol type="ELBAR">
            <params>
                <param property="hello_period_" value="5"/>
                <param property="range_" value="40"/>
                <param property="storage_opt_" value="0"/>
                <param property="min_angle_" value="1.0471975512"/>
                <param property="max_angle_" value="2.35619449019"/>
            </params>
        </routing-protocol>
    </routing-protocols>
    <transport-protocols>
        <!-- Transport protocols -->
        <protocol type="TCP" default="true">
            <params>
                <param property="sport_" value="0"/>
                <param property="dport_" value="0"/>
                <param property="packetSize_" value="1460"/>
            </params>
        </protocol>
        <protocol type="UDP">
            <params>
                <param property="fid_" value="2"/>
            </params>
        </protocol>
    </transport-protocols>
    <apps>
        <!-- Application protocols -->
        <app type="CBR" default="true">
            <params>                
            	<param property="type_" 		value="CBR"/>                
                <param property="packetSize_" 	value="50"/>
                <param property="interval_" 	value="1"/>
                <param property="rate_" 		value="0.1Mb"/>
                <param property="sport_"		value="0"/>
                <param property="dport_"		value="0"/>
            </params>
        </app>
        <app type="VBR">
            <params>
                <param property="packetSize_" value="0"/>
                <param property="rate_" value="1"/>
                <param property="burstTime_" value="500ms"/>
                <param property="iddleTime_" value="500ms"/>
            </params>
        </app>
        <app type="FTP">
            <params>
                <param property="maxPackets_" value=""/>
            </params>
        </app>
        <app type="Pareto">
            <params>
                <param property="packetSize_" value="0"/>
                <param property="rate_" value="1"/>
                <param property="burstTime_" value="1"/>
                <param property="iddleTime_" value="1"/>
                <param property="shape_" value=""/>
            </params>
        </app>
        <app type="Telnet">
            <params>
                <param property="interval_" value="1"/>
            </params>
        </app>
    </apps>
    <link-layers>
        <link-layer type="LL" default="true">
            <params>
                <param property="mindelay_" value="50us"/>
                <param property="delay_" value="25us"/>
                <param property="bandwidth_" value="0"/>
            </params>
        </link-layer>
    </link-layers>
    <macs>
        <mac type="Mac/802_11" default="true">
            <params>
                <param property="" value=""/>
            </params>
        </mac>
    </macs>
    <channels>
        <channel type="Channel/WirelessChannel" default="true">
            <params>
                <param property="" value=""/>
            </params>
        </channel>
    </channels>
    <propagation-models>
        <propagation-model type="Propagation/TwoRayGround" default="true">
            <params>
                <param property="" value=""/>
            </params>
        </propagation-model>
    </propagation-models>
    <network-interfaces>
        <network-interface type="Phy/WirelessPhy" default="true">
            <params>
                <param property="CPThresh_" value="10.0"/>
                <param property="CSThresh_" value="1.559e-11"/>
                <param property="RXThresh_" value="1.20174e-07"/>
                <param property="Rb_" value="2*1e6"/>
                <param property="freq_" value="914e+08"/>
                <param property="L_" value="1.0"/>
                <param property="Pt_" value="0.281838"/>
            </params>
        </network-interface>
    </network-interfaces>
    <antennas>
        <antenna type="Antenna/OmniAntenna" default="true">
            <params>
                <param property="X_" value="0"/>
                <param property="Y_" value="0"/>
                <param property="Z_" value="1.5"/>
                <param property="Gt_" value="1.0"/>
                <param property="Gr_" value="1.0"/>
            </params>
        </antenna>
    </antennas>
    <interface-queues>
        <interface-queue type="Queue/Droptail/Priqueue" default="true">
            <params>
                <param property="Prefer_Routing_Protocols" value="1"/>
            </params>
        </interface-queue>
    </interface-queues>
</network-settings>
