<?xml version="1.0" encoding="UTF-8"?>
<network-settings>
	<size x="300" y="250"/>
	
	<node-settings>
		<range>40</range>
		<queue-length>50</queue-length>
	</node-settings>
	
	<energy-model>
		<iddle>0.2</iddle>
		<reception>1</reception>
		<transmission>2</transmission>
		<sleep>0.001</sleep>
	</energy-model>
	
	<routing-protocols> <!-- Routing protocols -->
		<routing-protocol type="AODV">
			<params>
				<param property="" value=""></param>
			</params>
		</routing-protocol>
		<routing-protocol type="DSR">
			<params>
				<param property="" value=""></param>
			</params>		
		</routing-protocol>
		<routing-protocol type="DSDV">
			<params>
				<param property="" value=""></param>
			</params>		
		</routing-protocol>
		<routing-protocol default="true" type="GPSR">
			<params>
				<param property="hello_period_" value="5"></param>
				<param property="range_" value="40"/>
				<param property="graph_opt_" value="0"/>
			</params>		
		</routing-protocol>
		<routing-protocol type="GEAR">
			<params>
				<param property="hello_period_" value="5"></param>
				<param property="range_" value="40"/>
				<param property="alpha_" value="0.8"/>
			</params>		
		</routing-protocol>
		<routing-protocol type="ELBAR">
			<params>
				<param property="hello_period_" value="5"></param>
				<param property="range_" value="40"/>
				<param property="storage_opt_" value="0"/>
				<param property="min_angle_" value="1.0471975512"/>
				<param property="max_angle_" value="2.35619449019"/>
			</params>		
		</routing-protocol>
		<routing-protocol type="ELLIPSE">
			<params>
				<param property="hello_period_" value="5"></param>
				<param property="range_" value="40"/>
				<param property="storage_opt_" value="0"/>
				<param property="alpha_" value="0.8"/>
			</params>		
		</routing-protocol>
		<routing-protocol type="EHDS">
			<params>
				<param property="hello_period_" value="5"></param>
				<param property="range_" value="40"/>
				<param property="storage_opt_" value="0"/>
			</params>		
		</routing-protocol>	
	</routing-protocols>
	
	<transport-protocols> <!-- Transport protocols -->
		<protocol default="true" type="TCP">
			<params>
				<param property="sport_" value="0"/>
				<param property="dport_" value="0"/>
				<param property="packetSize_" value="1460"/>
			</params>
		</protocol>
		<protocol type="UDP">
			<params>
				<param property="sport_" value="0"/>
				<param property="dport_" value="0"/>
				<param property="packetSize_" value="1460"/>
			</params>		
		</protocol>	
	</transport-protocols>
	
	<apps> <!-- Application protocols -->
		<app default="true" type="CBR">
			<params>
				<param property="sport_" value="0"/>
				<param property="dport_" value="0"/>
				<param property="packetSize_" value="50"/>
				<param property="interval_" value="1"/>
				<param property="rate_" value="0.1Mb"/>
			</params>
		</app>
		<app type="VBR">
			<params>
				<param property="packetSize_" value="0"/>
				<param property="rate_" value="1"/>
				<param property="burstTime_" value="500ms"/>
				<param property="iddleTime_" value="500ms"/>
			</params>		
		</app>
		<app type="FTP">
			<params>
				<param property="maxPackets_" value=""/>
			</params>
		</app>
		<app type="Pareto">
			<params>
				<param property="packetSize_" value="0"/>
				<param property="rate_" value="1"/>
				<param property="burstTime_" value="1"/>
				<param property="iddleTime_" value="1"/>
				<param property="shape_" value=""/>
			</params>			
		</app>
		<app type="Telnet">
			<params>
				<param property="interval_" value="1"/>
			</params>
		</app>
	</apps>
	
	<link-layers>
		<link-layer default="true" type="LL">
			<params>
				<param property="mindelay_" value="50us"/>
				<param property="delay_" value="25us"/>
				<param property="bandwidth_" value="0"/>
			</params>
		</link-layer>
	</link-layers>
	
	<macs>
		<mac default="true" type="802.11">
			<params>
				<param property="" value=""/>
			</params>
		</mac>
	</macs>
	
	<channels>
		<channel default="true" type="Wireless">
			<params>
				<param property="" value=""/>
			</params>
		</channel>
	</channels>
	
	<propagation-models>
		<propagation-model default="true" type="Two Ray Ground">
			<params>
				<param property="" value=""/>
			</params>		
		</propagation-model>
	</propagation-models>
	
	<network-interfaces>
		<network-interface default="true" type="Wireless Phy">
			<params>
				<param property="CPThresh_" value="10.0"/>
				<param property="CSThresh_" value="1.559e-11"/>
				<param property="RXThresh_" value="3.652e-10"/>
				<param property="Rb_" value="2*1e6"/>
				<param property="freq_" value="914e+6"/>
				<param property="L_" value="1.0"/>
				<param property="Pt_" value="8.5872e-4"/>
			</params>		
		</network-interface>
	</network-interfaces>
	
	<antennas>
		<antenna default="true" type="Omni Antenna">
			<params>
				<param property="X_" value="0"/>
				<param property="Y_" value="0"/>
				<param property="Z_" value="1.5"/>
				<param property="Gt_" value="1.0"/>
				<param property="Gr_" value="1.0"/>
			</params>		
		</antenna>
	</antennas>
	
	<interface-queues>
		<interface-queue default="true" type="Droptail/Priqueue">
			<params>
				<param property="" value=""/>
			</params>
		</interface-queue>
	</interface-queues>
</network-settings>