graph
{
	
/*
	fill-mode:
	fill-color
	fill-image
	stroke-mode
	stroke-color
	stroke-width
	padding
*/
}
graph.C1
{
}
graph.C2
{
}

node
{
	size: 7px;
	text-alignment: under;
	stroke-mode: none;
	fill-color : blue;
	/*
	shape: circle;
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
	*/
/*
	z-index
	shadow-mode
	shadow-color
	shadow-width
	shadow-offset
	text-mode
	text-background-mode
	text-visibility-mode
	text-visibility
	text-color
	text-background-color
	text-style
	text-alignment
	size
	shape
*/
}
node.fullenergy{
	fill-color : #25d632;
	size : 7px;
}
node.mendiumenergy{
	fill-color : #acb8ad;
	size : 6px;
}
node.lowenergy{
fill-color: #ee1818;
	size : 4px;
}
node.emptyenergy{
	fill-color: #f7f7f7;
	size : 4px;
}
node.send{
	/*stroke-mode: none;
	size : 10px;
	fill-color: #FF0000;
	shadow-mode: gradient-radial;
	shadow-color: #FF0000, #FFFFFF ;
	shadow-offset: 0px;
	shadow-width: 6px;*/
	fill-color: red;
	size : 8px;
}
node.init
 { 
 fill-mode: image-scaled; 
 fill-color:#00ffff;
 
 }
node.forward{
	/*stroke-mode: none;
	fill-color: #FF9933;
	shadow-mode: gradient-radial;
	shadow-color: #FF9933, #FFFF99 ;
	shadow-offset: 0px;
	shadow-width: 6px;*/
	fill-color: orange;
}
node.broadcast
{
	stroke-mode: none;
	fill-mode: image-scaled;
	size: 15px;
}
node.default
{
	size:6px;
	fill-mode: image-scaled;
	stroke-mode:none;
	fill-color : blue;
}
node.wake
{
	stroke-mode: plain;
	fill-color: #00ffff;
}
node.sleep
{
	stroke-mode: plain;
	fill-color: black;
}
node.group1
{
	stroke-mode: plain;
	fill-color: #4c0000;
}
node.group2{
	stroke-mode: plain;
	fill-color:#00feff;
	
}
node.fullenergy{
	stroke-mode: plain;
	fill-color:#00feff;
	
}
node.nineper{
	stroke-mode: plain;
	fill-color:#08c4cc;
}
node.eightper{
stroke-mode: plain;
	fill-color:#0c9ea5;
}
node.sevenper{
stroke-mode: plain;
	fill-color:#0b7c81;
}
node.sixper{
stroke-mode: plain;
	fill-color:#0b7176;
}
node.fiveper{
stroke-mode: plain;
	fill-color:#377c76;
}

node.search{
	fill-color:red;
}

node.startpath{
	fill-color:green;
}

node.endpath{
	fill-color:red;
}

node.intermediate{
	fill-color:orange;
}

node.fourper{
stroke-mode: plain;
	fill-color:#0b676b;
}
node.threeper{
stroke-mode: plain;
	fill-color:#0a5154;
}
node.twoper{
stroke-mode: plain;
	fill-color:#053f42;
}
node.lowenergy{
fill-color: #f41c2f;
	size : 4px;
}
node.emptyenergy{
	fill-color: #111111;
	size : 4px;
}
node.receive{
	/*stroke-mode: none;
	fill-color: #FFFF00;
	shadow-mode: gradient-radial;
	shadow-color: #FFFF00, #FFFFCC;
	shadow-offset: 0px;
	shadow-width: 6px;*/
	size : 5px;
	fill-color: yellow;
}
edge
{
	fill-mode: plain;
	fill-color: #CCC;
/*
	z-index
	shadow-mode
	shadow-color
	shadow-width
	shadow-offset
	text-mode
	text-background-mode
	text-visibility-mode
	text-visibility
	text-color
	text-background-color
	text-style
	text-alignment
	size
	shape
	//
	arrow-shape
	arrow-image
	arrow-size
*/
}
edge.visible{
	fill-color: #CCC;
}
edge.focus{
	fill-mode:plain;
	fill-color:#ab3e3e;
	size:2px;
}
edge.light
{
	fill-color: #308014; 
	size: 1px;
}
edge.dark
{
	//fill-color: #CCC;
	size: 1px;
	shape: line;
    fill-color: #222;
    arrow-size: 4px, 3px;
}
edge.forward
{
	size: 1px;
	shape: line;
    fill-color: green;
    arrow-size: 3px, 2px;
}
edge.drop{
	size: 1px;
	shape: line;
    fill-color: black;
    arrow-size: 3px, 2px;
}
sprite
{
	shape: arrow;
	size: 5px;
	fill-mode: plain;
	fill-color:#da6666;
	sprite-orientation: to;
/*
	z-index
	shadow-mode
	shadow-color
	shadow-width
	shadow-offset
	text-mode
	text-background-mode
	text-visibility-mode
	text-visibility
	text-color
	text-background-color
	text-style
	text-alignment
	size
	shape
*/
}
sprite.send
{	size : 10px;
	fill-mode: plain;
	fill-mode: image-scaled;
	fill-image: url('res/Icon/packet.png');
}
sprite.blue{
	stroke-mode: none;
	fill-mode: image-scaled;
	fill-image: url('res/Icon/blue-packet.png');
}
sprite.red{
	stroke-mode: none;
	fill-mode: image-scaled;
	fill-image: url('res/Icon/red-packet.png');
}
sprite.black{
	stroke-mode: none;
	fill-mode: image-scaled;
	fill-image: url('res/Icon/black-packet.png');
}
sprite.grey{
	stroke-mode: none;
	fill-mode: image-scaled;
	fill-image: url('res/Icon/grey-packet.png');
}
sprite.broadcast{
	fill-mode: plain;
	fill-color: red;
}